    <div class="title"> 
      <%= link_to 'Andy Troutman', '/index.html'%>
      <div><%= link_to 'Career Advice from the Trenches of Software Management.', '/index.html'%></div>
    </div>
    <div class="header-menu">
      <%= link_to 'About', '/about.html', :class=> 'header-menu-item' %>
      <%= link_to 'Archive', '/archive.html', :class=> 'header-menu-item' %>
      <%= link_to 'Electronic Mail', 'mailto:andy.troutman@gmail.com', :class=> 'header-menu-item' %>
<%= link_to 'Feed Me', '/feed.xml', :class=> 'header-menu-item' %>
    </div>