
<div class="year-header">
  <div class="padded-header">Remember When...</div>
</div>

<div class="year-content">
  <% blog.articles.select{|a| a.data.published?}.group_by {|a| a.date.year }.each do |year, articles| %>
    <div class="vertical-list-box">
      <a href="<%= blog_year_path year %>"><%= year %></a> (<%= articles.size %>)<br>
    <% articles.group_by {|b| b.date.month }.each do |month, marticles| %>
        <a href="<%= blog_month_path year, month %>"><%= Date.new(year, month, 1).strftime('%B') %></a>
	(<%= marticles.size %>)
    <% end %>
    </div>
  <% end %>
</div>

<div class="break"></div>
<div class="tags-header">
  <div class="padded-header">Well Worn Tags</div>
</div>

<div class="tags-content">
    <% total = blog.tags.values.inject(0.0) do |sum, obj| sum + obj.size end %> 
    <% blog.tags.each do |tag, articles| %>
      <div class="vertical-list-box">
	<%= ((articles.size/total)*100.0).floor %>% - <a href="<%= tag_path tag %>"><%= tag %></a>
      </div>
    <% end %>
</div>
